<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.safespace.content_filter_backend.domain.comment.mapper.CommentMapper">
    <resultMap id="comment" type="com.safespace.content_filter_backend.domain.comment.dto.CommentDTO">
        <id     column="CMT_ID"        property="cmtId" />
        <result column="CMT_CONTENT"   property="cmtContent" />
        <result column="CREATED_AT"    property="createdAt" />
        <result column="IS_FILTERED"   property="isFiltered" />
        <result column="POST_ID"       property="postId" />
        <result column="MEM_ID"        property="memId" />
    </resultMap>

    <!-- 댓글 등록  -->
    <insert id="regComment">
        INSERT INTO cmt (
            CMT_CONTENT
            , POST_ID
            , MEM_ID
        ) VALUES (
            #{cmtContent}
            , #{postId}
            , #{memId}
        )
    </insert>

    <!-- 댓글 필터링 -->
    <update id="filterComment">
        UPDATE cmt
        SET IS_FILTERED = 'Y'
        WHERE CMT_ID = #{cmtId}
    </update>
</mapper>