<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.safespace.content_filter_backend.member.mapper.MemberMapper">
	<resultMap id="member" type="com.safespace.content_filter_backend.member.dto.MemberDTO">
        <result column="MEM_ID"        property="memId" />
        <result column="MEM_EMAIL"     property="memEmail" />
        <result column="MEM_PW"        property="memPw" />
        <result column="MEM_NAME"      property="memName" />
        <result column="MEM_ROLE"      property="memRole" />
        <result column="CREATED_AT"    property="createdAt" />
        <result column="MEM_STATUS"    property="memStatus" />
        <result column="WARNING_CNT"   property="warningCnt" />
        <result column="BANNED_UNTIL"  property="bannedUntil" />
    </resultMap>


    <!-- 로그인하려는 회원 정보 조회 -->
    <select id="getMemberForLogin" resultMap="member">
        SELECT MEM_EMAIL
            , MEM_PW
            , MEM_ROLE
            , MEM_NAME
        FROM MEMBER
        WHERE MEM_EMAIL = #{memEmail}
    </select>

    <!-- 회원가입 -->
    <insert id="regMember">
        INSERT INTO MEMBER (
            MEM_EMAIL
            , MEM_PW
            , MEM_NAME
        ) VALUES (
            #{memEmail}
            , #{memPw}
            , #{memName}
        )
    </insert>

    <!-- 이메일 중복 조회 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE MEM_EMAIL = #{memEmail}
    </select>
</mapper>