<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.safespace.content_filter_backend.post.mapper.PostMapper">
    <resultMap id="post" type="com.safespace.content_filter_backend.post.dto.PostDTO">
        <id     column="POST_ID"       property="postId" />
        <result column="POST_TITLE"    property="postTitle" />
        <result column="POST_CONTENT"  property="postContent" />
        <result column="IS_FILTERED"   property="isFiltered" />
        <result column="CREATED_AT"    property="createdAt" />
        <result column="MEM_ID"        property="memId" />
        <association property="postImgDTO" resultMap="postImg" />
        <collection property="commentDTOList" resultMap="com.safespace.content_filter_backend.comment.mapper.CommentMapper.comment" />
    </resultMap>

    <resultMap id="postImg" type="com.safespace.content_filter_backend.post.dto.PostImgDTO">
        <id     column="IMG_NUM"            property="imgNum" />
        <result column="ORIGIN_IMG_NAME"    property="originImgName" />
        <result column="ATTACHED_IMG_NAME"  property="attachedImgName" />
        <result column="POST_ID"            property="postId" />
    </resultMap>

    <!-- 게시글 등록 -->
    <insert id="regPost">
        INSERT INTO POST (
            POST_ID
            , POST_TITLE
            , POST_CONTENT
            , MEM_ID
        ) VALUES (
            #{postId}
            , #{postTitle}
            , #{postContent}
            , #{memId}
        )
    </insert>

    <!-- 게시글 이미지 등록 -->
    <insert id="regPostImg">
        INSERT INTO POST_IMG (
            ORIGIN_IMG_NAME
            , ATTACHED_IMG_NAME
            , POST_ID
        ) VALUES (
            #{originImgName}
            , #{attachedImgName}
            , #{postId}
        )
    </insert>

    <!-- 게시글 번호 조회 -->
    <select id="getPostId">
        SELECT IFNULL(MAX(POST_ID), 0) + 1
        FROM POST
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="getPostList" resultMap="post">
        SELECT
            p.POST_ID
            , POST_TITLE
            , CREATED_AT
            , MEM_ID
            , IMG_NUM
            , ATTACHED_IMG_NAME
        FROM POST p
        LEFT JOIN POST_IMG i
        ON p.POST_ID = i.POST_ID
        WHERE IS_FILTERED = 'N'
        ORDER BY CREATED_AT DESC
    </select>

    <!-- 게시글 상세 조회 -->
    <select id="getPostDetail" resultMap="post">
        SELECT
            p.POST_ID
            , POST_TITLE
            , POST_CONTENT
            , p.CREATED_AT
            , p.MEM_ID
            , IMG_NUM
            , ATTACHED_IMG_NAME
            , CMT_ID
            , CMT_CONTENT
            , C.CREATED_AT
            , C.IS_FILTERED
        FROM POST p
        LEFT JOIN POST_IMG i
        ON p.POST_ID = i.POST_ID
        LEFT JOIN CMT C
        ON P.POST_ID = C.POST_ID
        WHERE p.POST_ID = #{postId}
        AND p.IS_FILTERED = 'N'
        AND C.IS_FILTERED = 'N'
    </select>

    <!-- 게시글 필터링 -->
    <update id="filterPost">
        UPDATE POST
        SET IS_FILTERED = 'Y'
        WHERE POST_ID = #{postId}
    </update>
</mapper>