<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.safespace.content_filter_backend.domain.report.mapper.ReportMapper">
    <resultMap id="report" type="com.safespace.content_filter_backend.domain.report.dto.ReportDTO">
        <id     column="REPORT_ID"      property="reportId" />
        <result column="TARGET_TYPE"    property="targetType" />
        <result column="TARGET_ID"      property="targetId" />
        <result column="REPORT_REASON"  property="reportReason" />
        <result column="REPORT_STATUS"  property="reportStatus" />
        <result column="CREATED_AT"     property="createdAt" />
        <association property="postDTO" resultMap="com.safespace.content_filter_backend.domain.post.mapper.PostMapper.post" />
        <association property="commentDTO" resultMap="com.safespace.content_filter_backend.domain.comment.mapper.CommentMapper.comment" />
    </resultMap>

    <!-- 신고 등록 -->
    <insert id="regReport">
        INSERT INTO REPORT (
            TARGET_TYPE
            , TARGET_ID
            , REPORT_REASON
            , REPORTER_ID
        ) VALUES (
            #{targetType}
            , #{targetId}
            , #{reportReason}
            , #{reporterId}
        )
    </insert>

    <!-- 신고 중복 확인 -->
    <select id="getDupReport" resultType="int">
        SELECT COUNT(*)
        FROM REPORT
        WHERE TARGET_TYPE = #{targetType}
        AND TARGET_ID = #{targetId}
        AND REPORTER_ID = #{reporterId}
    </select>

    <!-- 관리자 신고 목록 조회 -->
    <select id="getReportListForAdmin" resultMap="report">
        SELECT r.REPORT_ID
            , r.TARGET_TYPE
            , r.TARGET_ID
            , r.REPORT_REASON
            , r.REPORT_STATUS
            , r.CREATED_AT
            , r.REPORTER_ID
        <if test="targetType != null and targetType.equals('POST')">
            , p.POST_ID
            , p.POST_TITLE
            , p.POST_CONTENT
            , p.MEM_ID
            , PIMG.ATTACHED_IMG_NAME
        </if>
        <if test="targetType != null and targetType.equals('COMMENT')">
            , c.CMT_ID
            , c.CMT_CONTENT
            , c.MEM_ID
        </if>
        FROM REPORT r
        <if test="targetType != null and targetType.equals('POST')">
            INNER JOIN POST p
            ON r.TARGET_ID = p.POST_ID
            LEFT JOIN POST_IMG PIMG
            ON P.POST_ID = PIMG.POST_ID
        </if>
        <if test="targetType != null and targetType.equals('COMMENT')">
            INNER JOIN CMT c
            ON r.TARGET_ID = c.CMT_ID
        </if>
        WHERE r.TARGET_TYPE = #{targetType}
        AND R.REPORT_STATUS = 'PENDING'
        ORDER BY CREATED_AT
    </select>

    <!-- 관리자 신고 처리 -->
    <update id="handleReport">
        UPDATE REPORT
        SET REPORT_STATUS = #{reportStatus}
        WHERE REPORT_ID = #{reportId}
    </update>
</mapper>